<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="site-title">
          <a href="/"><h1>Express Web</h1></a>
          <p>A Reus Web Hacker's Site</p>
        </div>
        <ul>
          <li><a href="/interfaz">Interfaz</a></li>
          <li>&nbsp;&nbsp;&nbsp;</li>
          <li><a href="/">Blogs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blogs/create">New Blog</a></li>
          <li>&nbsp;&nbsp;&nbsp;</li>
          <li><a href="/tests">Tests</a></li>
          <li><a href="/test/create">New Test</a></li>
        </ul>
      </nav>
        </header>