$primary: white;
$secondary: rgb(0,64,128);
$familia: 'Noto Serif', sans-serif;

form {
    color: $primary;
    border: 1px red black;
    padding: 16px;

    p{
        margin-top: 16px;
        margin-bottom: 16px;
    }

    input {
        display: block;
        margin: 8px;
    }

    input[type=radio]{
        display: inline;
        margin-left: 32px;
    }

    textarea {
        display: block;
        width: 40%;
    }
}