$primary: white;
$secondary: rgb(0, 64, 128);
$familia: 'Noto Serif',
sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $primary;
}

body {
    color: $primary;
    background-color: $secondary;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;

    header {
        width: 90%;
        margin: auto;

        nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            text-transform: uppercase;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                list-style-type: none;

                li {
                    margin-left: 20px;
                }
            }

            h1 {
                font-size: 3em;
            }

            a {
                color: $primary;
                font-weight: 300;
            }
        }
    }

    main {
        width: 90%;
        margin: auto;

        a{
            background-color: darkcyan;
        }

        ul {
            margin-left: 32px;
        }

        p {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        h2 {
            margin-bottom: 32px;
            text-transform: capitalize;
        }

        button{
            margin-top: 32px;
        }
    }

    footer {
        width: 90%;
        margin: auto;
        text-align: center;
        margin: 80px auto 20px;
    }
}