@use 'global';
@use 'form';
@use 'modal';
@use 'button';


.modal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin: 0 auto;

    #rightAnswers,
    #wrongAnswers,
    #score {
        background-color: lightblue;
        border-radius: 32px;
        padding: 12px;
        margin: 4px;
    }
}

.right-answer {
    color: orange;
}

.wrong-answer {
    color: red;
}

.editable{
    display: flex;
    justify-content: space-between;
}

.between{
    display: flex;
    justify-content: space-between;

    .h2{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 32px;
    }

    a{
        align-self: start;
    }
}