<%- include("./partials/header.ejs") %>

<main>
  <section>
    <h2>OOPS, page not found :)</h2>
    <p>The page you are looking for doesn't exist. Not to worry. You can either head back to the <a href="/">homepage</a> or try an <a href="/tests">exam</a>.</p>
  </section>
</main>

<%- include("./partials/footer.ejs") %>