<%- include("./partials/header.ejs") %>

<main>
  <section>
    <h2>About Us</h2>
    <p>Somos un grupo de programación de élite que en este proyecto procura el desarrollo frontend / backend de un sitio
      web piloto.</p>
    <p>Por el momento su funcionalidad abarca:</p>
    <ul>
      <li>La gestión del recurso "post" mediante el estándar REST API</li>
      <li>La gestión del recurso "test" mediante el estándar REST API</li>
      <li>La evaluación en el propio navegador del usuario en la realización del test</li>
      <li>Crear gestión de autoría / acceso</li>
    </ul>
  </section>
</main>

<%- include("./partials/footer.ejs") %>