<%- include('./partials/header.ejs') %>
    <main>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quod optio magni earum maiores, similique architecto, ea molestias aliquid quidem, laboriosam officiis voluptatum! Iste iusto nesciunt placeat ipsa eaque? Voluptas iste non in voluptatem. Assumenda maiores minima beatae sequi commodi, itaque quisquam et. Sed excepturi similique iusto possimus! Ex sunt fugiat accusamus illum recusandae? Non pariatur, id eum sit temporibus maiores facilis unde, praesentium officia odit eaque amet totam ullam ipsum repellendus laboriosam blanditiis voluptas modi perferendis, nostrum laudantium aliquid itaque? Velit autem ex, odio quod, beatae, totam fugiat exercitationem labore dolor explicabo adipisci eligendi ipsum enim ducimus. Odio, at.</p>
        </section>
    </main>
<%- include('./partials/footer.ejs') %>