<%- include("./partials/header.ejs") %>

<main>
  <section>
    <h2>All posts</h2>
    <% if (posts.length > 0) { %>
    <% posts.forEach(post => { %>

    <h3 class="title"><%= post.title %></h3>
    <p class="snippet"><%= post.snippet %></p>

    <% }) %>
    <% } else { %>
    <p>There are no posts to display...</p>
    <% } %>

    </section>
</main>

<%- include("./partials/footer.ejs") %>