<%- include("./partials/header.ejs") %>
<main>
    <ul>
        <li><a id="post" href="#">post a test</a></li>
        <li><a id="readAll" href="#">read the tests</a></li>
        <li><a id="read" href="#">read a test</a></li>
        <li><a id="update" href="#">update a test</a></li>
        <li><a id="delete" href="#">delete a test</a></li>
    </ul>
</main>
<%- include("./partials/footer.ejs") %>