<%- include("./partials/header.ejs") %>
<main>
    <section>
        <h2>Edit test <i class="far fa-trash-alt"></i></h2>
        <form id="test-form-edit">
            <label for="question">Question:</label><br>
            <textarea id="question" name="question" required rows="2" cols="70"></textarea><br>
            <label for="answer1">Answer 1:</label><br>
            <textarea id="answer1" name="answer1" required rows="2" cols="70"></textarea><br>
            <label for="answer2">Answer 2:</label><br>
            <textarea id="answer2" name="answer2" required rows="2" cols="70"></textarea><br>
            <label for="answer3">Answer 3:</label><br>
            <textarea id="answer3" name="answer3" required rows="2" cols="70"></textarea><br>
            <label for="answer4">Answer 4:</label><br>
            <textarea id="answer4" name="answer4" required rows="2" cols="70"></textarea><br>
            <button>Edit test</button>
        </form>
    </section>
</main>
<%- include("./partials/footer-test.ejs") %>