$color: blue;
$familia: Arial, sans-serif;

@use 'form';

div{
    width: 90%;
    margin:auto;
    
    h1{
        color: $color;
        background-color: black;
        font-family: $familia;
    }

    p{
        font-size: 16px;
    }

    form{
        background-color: pink;
    }
}
